page-map {
    @import url('https://fonts.googleapis.com/css?family=Cairo');
    
    * {
        font-family: "Cairo";
    }

    .scroll {
        height: 100%
      }
      
    #map {
        height: 100%;
    }
}
