page-scheduale {
    @import url('https://fonts.googleapis.com/css?family=Cairo');
    
    * {
        font-family: "Cairo";
    }

    .hugeTitle {
        background-color: color($colors, 'secondary'); 
        text-align: center; 
        padding: 10px; 
        color: white; 
        border-radius: 5px;
    }

    .medTitle {
        text-align: center; 
        background-color: #FAFCD6; 
        color: black !important;
        margin-top: 15%;
        border-radius: 5px;
    }

    ion-card {
        // background-color: #FAFCD6 !important;
    }
    .center {
        text-align: center;
    }
    .rBold {
        text-align: right; font-weight: bold;
    }

    .eventTitle {
        padding: 10px;
    }
}
