page-scheduale {
    @import url('https://fonts.googleapis.com/css?family=Cairo');
    
    * {
        font-family: "Cairo";
    }

    .hugeTitle {
        background-color: #488aff; text-align: center; padding: 10px; color: white; border-radius: 5px;
    }

    .medTitle {
        text-align: center; background-color: #f4f4f4; margin-top: 15%;
    }

    .center {
        text-align: center;
    }
    .rBold {
        text-align: right; font-weight: bold;
    }

    .eventTitle {
        padding: 10px;
    }
}
